.card-page-container{
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    background-image: url('../../project-items/1107030654_preview_20190412172640_1.jpeg');
    display: flex;
  justify-content: center;
  align-items: center;
}

/* .scene {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  perspective: 800px;
} */
.card_and_comments_container{
    perspective: 800px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: inherit;
    justify-content: center;
    align-items: center;
}
/* .card-container {
    perspective: 800px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
} */
  .card {
    position: relative;
    width: 250px;
    height: 100%;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
  }
    .card:hover {
      transform: rotateY(0.5turn);
    }

    .card__face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      /* height: 100%; */
      backface-visibility: hidden;
      transition: 1s ease-in-out;
      -webkit-box-reflect: below 0
    linear-gradient(transparent, transparent,
    rgba(0, 0, 0, 0.4));
    }
      img {
       max-width: 250px;
        padding: 1rem;
        position: relative;
        background: linear-gradient(to right, lightblue, plum);
        padding: 3px;
        border-radius: 15px;
        margin: -10px;
      }

.card__face--back {
        transform: rotateY(0.5turn);
        font-family: fantasy;
        font-size: 20px;
        color: white;
        font-weight: bold;
        text-shadow: -1px 3px 3px black,
				  3px 3px 3px black,
				  3px -1px 0 black,
				  -1px -1px 0 black;
}

.comments_and_answer-div{
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-shadow: -1px 3px 3px black,
				  3px 3px 3px black,
				  3px -1px 0 black,
				  -1px -1px 0 black;
                  perspective: 800px;
     text-transform: capitalize;
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.753);
  padding: 10px;
}

.comment-div {
  border-top: 1px solid greenyellow;
  border-bottom: 1px solid rgb(47, 130, 255);
  margin-top: 20px;
}

.answerComments-text {
  margin-bottom: 20px;
}

.answer-container {
  margin-bottom: 15px;
}

.answer-container-user {
  display: flex;
}

.card-container {
    display: flex;
    padding: 100px;
    padding-top:120px;
    align-self: baseline;
    margin: 10px;
}

.answer-div{
    text-indent: 50px;
}
.button-add-forms {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: lightblue;
    padding: 10px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin: 3px;
    box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
                                0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
                                0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
                                0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

.button-add-forms:hover{

    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;

}
