.sign_up_form{
 /* display:flex;
    text-align-last: justify;
    justify-content: space-evenly;
    height: 500px;
    align-items: center; */

}

.sign_up_form_container{
    font-size: large;
    display: inline-block;
    padding: 20px;
}

.sign_div,
.user-btn_div{
     font-size: 1.2em;
     color: white;
    text-shadow: -1px 3px 3px black,
				  3px 3px 3px black,
				  3px -1px 0 black,
				  -1px -1px 0 black;
    font-weight: bold;
    padding: 0 10vw;
}

.user-btn_div,
.user-name-div:hover,
.user-email-div:hover {
    font-size: 1.2rem;
    cursor: pointer;
}

.user-logout-btn:hover {
    cursor: pointer;
    background-color: gray;
}

.error_message{
color: red;
font-size: 100px;
}

input, textarea {
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
    margin: .5em;
}