/* TODO Add site wide styles */


#root{
    /* background-image: url('../src/project-items/4hRzp7H7kPe85oW7cI0ThA.jpeg');
    position: absolute;
    top: 0;
    left: 0;
    z-index: 70; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}