.splash-body{
     background-image: url('../../project-items/4hRzp7H7kPe85oW7cI0ThA.jpeg');
    /* position: absolute; */
    top: 0;
    left: 0;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;   
    /* opacity: 0.6; 
    filter: alpha(opacity=60); */
}

.h1-container{
    display: flex;
    position: absolute;
    height: 70vh;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: #364351;
    font: bold 52px Helvetica, Arial, Sans-Serif;
    text-shadow: 
    /* -4px -4px plum, */
    /* -3px -3px lightblue, */
    -2px -2px white,
    -1px 1px lightblue,
    1px 1px  plum,
    2px 2px  white,
    3px 3px  lightseagreen,
    4px 4px  white, 
    5px 5px  white,
    6px 6px plum;
    font-size: xx-large;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    background-color: rgb(113, 153, 226);
    padding: 1em;
    flex-direction: column;
}



.hi-splash{
    
  
  
 
}