i.fas.fa-dragon {
    font-size: 30px;
    color: plum;
    text-shadow: -1px 3px 3px black,
				  3px 3px 3px black,
				  3px -1px 0 black,
				  -1px -1px 0 black; 
    margin-left: -21px;
}


.demo-btn,
.signup-btn{
    text-decoration: none;
color : linear-gradient (to right, lightblue, plum);

} 


body
{
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to right, lightblue, plum); */
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  /* position: relative; */
  /* top: 30px;
  left: 30px; */
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

li:hover{
  color:plum;
}

#menuToggle a,
.user-name-div,
.user-email-div
{
  text-decoration: none;
   color: white;
    text-shadow: -1px 3px 3px black,
				  3px 3px 3px black,
				  3px -1px 0 black,
				  -1px -1px 0 black; 

  transition: color 0.3s ease;
  font-weight: bold;
}

#menuToggle input
{
  /* display: block;
  width: 40px;
  height: 32px;
  position: absolute; */
  /* top: -7px;
  left: -5px; */
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  /* -webkit-touch-callout: none;
 outline: none; */
}

#menuToggle i.fas.fa-dragon
{
  /* display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: transparent;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease; */

}

/* #menuToggle i.fas.fa-dragon
{
  transform-origin: 0% 0%;
}
#menuToggle i.fas.fa-dragon
{
  transform-origin: 0% 100%;
} */

#menu
{
  /* position:relative; */
  /* margin: -90px 0 0 -50px; */
  /* padding: 3em; */
  /* padding-top: 7.8125em; */
  /* list-style-type: none;
  -webkit-font-smoothing: antialiased; */
  /* to stop flickering of text in safari */
  /* transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  flex-direction: row; */
  /* padding-left: 40px; */
   color: white;
    text-shadow: -1px 3px 3px black,
				  3px 3px 3px black,
				  3px -1px 0 black,
				  -1px -1px 0 black; 
    transition: color 0.3s ease;
  font-weight: bold;
    font-size: 2em;
    padding: 0 10vw;
}


#menu li
{
  padding: 10px;
  font-size: 2em;
  font-weight: bold;
}

/*
 * slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.user-btn_div, .user-name-div:hover, .user-email-div:hover {
    font-size: 1em;
    cursor: pointer;
}

.user-btn_div{
  font-size: 1em;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5 0;
}

.session-links{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
}

  .show-menu-container {
    display: flex;
    align-items: center;
}

.user-logout-btn{
  padding-top: 0.8em;
   color: white;
    text-shadow: -1px 3px 3px black,
				  3px 3px 3px black,
				  3px -1px 0 black,
				  -1px -1px 0 black; 
    transition: color 0.3s ease;
  font-weight: bold;
    font-size: 2em;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    cursor: pointer;
}



