i.fas.fa-dragon {
    font-size: 30px;
}

.nav-link_div{
  max-width: min-content;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.demo-btn,
.signup-btn{
    text-decoration: none;
}